/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Roboto", sans-serif;
  color: #495057;
  background-color: #f7f7f7;
}

/* Header styles */
header {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  color: #0077b5;
}

h2 {
  font-size: 1.8em;
  margin-top: 10px;
}

ul.contact {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

ul.contact li {
  margin-right: 20px;
}

ul.contact li:last-child {
  margin-right: 0;
}

ul.contact li a {
  text-decoration: none;
  color: #0077b5;
}

/* Main sections styles */
section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-color: #f7f7f7;
}

h2.liseret-titre {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  color: #212529;
}

section ul {
  list-style: none;
  padding: 0;
}

section ul li {
  margin-bottom: 5px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }

  ul.contact {
    flex-direction: column;
    align-items: flex-start;
  }

  ul.contact li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  section {
    margin: 10px 0;
  }
}

