body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 10px;
}

.contact {
  list-style: none;
  padding: 0;
  margin: 10px auto;
}

.contact li {
  display: inline-block;
  margin-right: 20px;
}

.contact a {
  text-decoration: none;
  color: black;
}

section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
}

h2.competences, h2.experiences, h2.formations {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* Responsive design pour les écrans mobiles */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  .contact {
    text-align: center;
  }

  section {
    margin: 10px 0;
  }
}

